body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    padding-top: 120px; /* Añade espacio en el contenido principal */
  }
  
  .acerca-de-nosotros {
    position: relative; /* Asegúrate de que sea relativo */
    top: 50px; /* Mueve el contenedor hacia abajo */
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  
  .acerca-de-nosotros h2.titulo {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    border-bottom: 3px solid #fcc016;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .acerca-de-nosotros p {
    font-size: 18px;
    line-height: 1.6;
    color: #555555;
    margin-bottom: 20px;
  }
  
  .acerca-de-nosotros strong {
    color: #fcc016;
  }
  
  .imagen-contenedor {
    width: 100%;
    height: auto;
    margin: 30px 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .imagen-contenedor img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .valores-lista {
    margin: 20px 0;
    padding-left: 20px;
    color: #555555;
  }
  
  .valores-lista li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .valores-lista strong {
    color: #fcc016;
  }
  