
.Centrador {
    position: relative;
    top: 100px;
    width: 1535px;
    height: 3000px;   /* Define una altura grande para esta sección */
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
  }
.page-container {
    position: relative;
    top: 25px;
    min-height: 400vh; /* Asegura que la página cubra toda la ventana */
    width: 100%; /* Ajusta al ancho de la pantalla */
    background-color: #EAEAEA;
}

.background-container {
    position: absolute;
    width: 100%; /* Ajusta al ancho de la pantalla */
    top: 0;
    left: 0;
    z-index: 0; /* Mantiene la imagen de fondo en la capa inferior */
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
}

.content-container {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
    padding: 0;
    top: 202px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centra el contenedor horizontalmente */
    width: fit-content; /* Ajusta el ancho al contenido */
    
}
.product-container {
    width: 896px; /* Ajusta según sea necesario */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Color de fondo de la barra */
    z-index: 1; /* Asegura que los contenedores estén por encima de la imagen de fondo */
}

.product-container h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: left;
    color: black;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 5px;
}

.products {
    display: flex;
    overflow-x: auto; /* Habilita el scroll horizontal */
    gap: 23px; /* Espacio entre productos */
    padding-bottom: 10px; /* Espacio inferior para el scroll */
    margin-left: 5px;
}

.product-item {
    width: 170px;
    height: 250px;
    border: 0.1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    
}

.product-item img {
    max-width: 100%;
    max-height: 150px;
    height: 150px; /* Altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
    border-radius: 4px;
}

.product-item p {
    font-size: 15px;
    margin: 5px 0;
    margin-top: 0;
    text-align: left;
    color: black;
}
.product-item .Precio{
    font-size: 25px;
   
    font-weight:bold;

}
.Container-CategoriasSeccion {
    width: 937px;
    height: 400px;
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap:20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.Container-CategoriasSeccion h2 {
    color: black;
}

/* Estilos para alinear los elementos en fila y con espacio igual */
.Contruccion, .Herramientas, .Electrico {
    display: flex;
    width: 300px;
    background-color: white;
    flex-direction: column; /* Coloca los elementos en columna dentro de cada sección */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra el contenido dentro de cada sección */
}
.aviso_Condi{
    margin-top: 40px;
    height: 20px;
}
.aviso_Condi p{
    
    color: #51A1D4;
}
.FerreExpress{
    color:#747474;
    height: 20px;
}
.Container-Pie {
    width: 1542px;
    background-color: #F0F0F0;
    border-top: 1px solid #D3D3D3; /* Borde superior */
    height: 266px;
    display: flex;
    justify-content: center;
    top: 150px;
    position: relative; /* Puede ser fixed si necesitas que siempre esté visible */
    bottom: 0;
}